html, body {
  overflow-x: hidden;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f6f1;
    margin: 0;
    color: #444;
    line-height: 1.7;
  }
  
  .page-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px 30px;
    background-color: #fffaf6;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  }

#card-container {
  display: flex;
  flex-wrap: wrap;
}

  